{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center" id="list-wrapper" >
    <div class="card w-80 bg-light" style="width: 18rem;">
        <form action="#" method="POST" id="order-form">
                <div class="form-group">
                    <label for="list-item" class="col-form-label">List:</label>
                    <textarea class="form-control" id="list-items" name="items" rows="3" placeholder="List here..."></textarea>
                </div>
                <div class="form-group">
                    <label for="example-number-input" class="col-form-label">Tip $:</label>
                    <input class="form-control" type="number" name="tip" placeholder="5">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address:</label>
                    <input type="text" class="form-control" name="address" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="example-datetime-local-input" class="col-form-label">Stay posted until:</label>
                    <input class="form-control" type="datetime-local" name="date">
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary m-2">Submit</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}

{%block scripts %}
<script src="{{url_for('static', filename='scripts/lists.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
{% endblock %}